body {
    background: #dbe2ef;
    color: #112d4e;
    margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
}

.fr {
    float: right;
}

.bg-steel {
    background-color: #2b2e4a;
}

.site-header .navbar-nav .nav-link {
    color: #e3fdfd;
}

.site-header .navbar-nav .nav-link:hover {
    color: #08d9d6;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    color: #112d4e;
    background: #dbe2ef;
    padding: 10px 20px;
    border: 1px solid #3f72af;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #3f72af;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    color: #112d4e;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #dbe2ef;
}

.article-metadata a:hover {
    color: #3f72af;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #dbe2ef;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #112d4e;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #dbe2ef;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}